.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Because of webpack bundling
node_modules
out/
src/
webpack.config.js

# Custom
angular-schematics-demo-20191025.gif
