!node_modules/
node_modules/*
!node_modules/@angular/
node_modules/@angular/*
!node_modules/@angular/cli/
node_modules/@angular/cli/*
!node_modules/@angular/cli/lib/
node_modules/@angular/cli/lib/*
!node_modules/@angular/cli/lib/config/
node_modules/@angular/cli/lib/config/*
!node_modules/@angular/cli/lib/config/schema.json
